<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Marked</h1>
    <p class="lead">In consectetur et veniam et ut nulla tempor aute officia dolor. Eiusmod et nulla ad sit culpa
      fugiat
      sunt magna ipsum eiusmod. Eiusmod magna laborum amet nulla deserunt minim ad excepteur velit exercitation ex
      reprehenderit exercitation Lorem. Eu ipsum et sunt enim consectetur qui minim consectetur consectetur ex cillum
      amet. Tempor dolore qui laboris velit labore enim ut ex irure ea labore commodo amet ipsum.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Save the World</a>
    </p>
  </div>
</div>